<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading librePanelHeading">
            <div class="panel-title">
                <b class="pull-right glyphicon glyphicon-folder-close libreMenuIcon"></b>
                <li>
                    <span>Menu</span>
                </li>
            </div>
        </div>
        <ul class="list-group collapse in">
            <li class="list-group-item librePanelListGroupItem">
                <a data-toggle="collapse" href="" ng-click="getSituacaoGeralQueixas()">
                        <span>Situacao Geral das Queixas</span>
                        <b class="pull-right glyphicon glyphicon-chevron-right"></b>
                    </a>

            </li>
            <li class="list-group-item librePanelListGroupItem">
                <a data-toggle="collapse" href="" ng-click="gerenciarQueixas()">
                        <span>Gerenciar Queixas</span>
                        <b class="pull-right glyphicon glyphicon-chevron-right"></b>
                    </a>

            </li>
            <li class="list-group-item librePanelListGroupItem">
                <h5>Alterar situação da prefeitura: </h5>
                <div class="form-group">
                    <select class="form-control" name = "situacaoPrefeitura" ng-model="situacaoPrefeitura">
        <option selected></option>
        <option value = "EXTRA">Extra</option>
        <option value = "NORMAL">Normal</option>
        <option value = "CAOS">Caos</option>
      </select>
                    <button type="button" class="btn btn-default" ng-click="alteraSituacaoPrefeitura(situacaoPrefeitura)">Alterar</button>
                </div>

            </li>
            <li class="list-group-item librePanelListGroupItem">
                <a data-toggle="collapse" href="" ng-click="redirecionaPesquisaMedia()">
                        <span>Pesquisar Média Médico por Paciente</span>
                        <b class="pull-right glyphicon glyphicon-chevron-right"></b>
                    </a>
            </li>

            <li class="list-group-item librePanelListGroupItem">
                <a data-toggle="collapse" href="" ng-click="redirecionaAdicionarUS()">
                        <span>Adicionar Unidade de Saúde no sistema</span>
                        <b class="pull-right glyphicon glyphicon-chevron-right"></b>
                    </a>
            </li>


        </ul>
    </div>
</div>
<button type="button" class="btn btn-default" ng-click="voltar()">Voltar</button>