<div class="container-fluid">
    <div class="row-fluid">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <nav class="navbar navbar-inverse">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#/!"><i class="fa fa-medkit" aria-hidden="true"></i> VS</a>
                    </div>
                    <ul class="nav navbar-nav">
                        <li><a href="#!/"><i class="fa fa-home"></i> Home</a></li>
                        <li><a href="" ng-click = "goConsultaUnidadeDeSaude()"><i class="fa fa-search"></i> Consultar Unidade de Saúde</a></li>
                        <li><a href="" ng-click="goPesquisaQueixa()"><i class="fa fa-search"></i> Pesquisar Queixa</a></li>
                        <li><a href="" ng-click = "goRegistraQueixa()"><i class="fa fa-plus"></i> Registrar Queixa</a></li>
                        <li><a href=""><i class="fa fa-search"></i> Consultar Especialidade Médica </a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="" ng-click = "goLogin()"><span class="glyphicon glyphicon-log-in"></span>Login</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</div>