<div class="container">
  <h2>Queixas Registradas</h2>            
  <table class="table">
    <thead>
      <tr>
        <th>Id</th>
        <th>Descrição</th>
        <th>Status</th>
        <th>Comentário</th>
        <th>Adicionar Comentário</th>
        <th>Modificar Status</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="queixa in queixas">
        <td>{{queixa.id}}</td>
        <td>{{queixa.descricao}}</td>
        <td>{{queixa.statusEnum}}</td>
        <td>{{queixa.comentario}}</td>
      </tr>
    </tbody>
  </table>
</div>
<button type="button" class="btn btn-default" ng-click="voltarMenuAdm()">Voltar</button>