/**Login**/

#loginbox {
	margin-top:50px;
}

.panel-body {
	padding-top:30px;
}

#login-alert {
	display:none;
}

.input-group {
	margin-bottom: 25px;
}

.form-group {
	margin-top:10px;
}

#nao-tem-conta {
	border-top: 1px solid#888; 
	padding-top:15px; 
	font-size:85%;
}

/**Cadastro**/

#signupbox {
	display:none; 
	margin-top:50px;
}

#signupalert {
	display:none;
}

#signinlink {
	border-top: 1px solid#888; 
	padding-top:15px; 
	font-size:85%;
}