.message-error {
    color: red;
}
a {
  color: #666666;
}

.libreProfileSpan {
  margin-left: 10px;
}

.librePanelHeading {
  padding: 5px 10px;
}

.librePanelListGroupItem {
  padding: 5px 15px;
}

.librePanelSubListGroupItem {
  padding: 0px;
}

.libreMenuIcon {
  padding: 5px 3px;
}